@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;700&display=swap');
//font-family: 'IBM Plex Sans', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 138%;
  /* or 28px */
  letter-spacing: 0.0075em;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 125%;
  /* identical to box height, or 120px */
  letter-spacing: -0.015em;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 133%;
  /* identical to box height, or 80px */
  letter-spacing: -0.01em;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 133%;
  /* identical to box height, or 64px */
  letter-spacing: -0.005em;
}

h4 {
  font-style: normal;
  font-size: 34px;
  line-height: 130%;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

/* BODY */

.main-body {
  height: 700px;
  
  
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  /*background-color: #005CCA;*/
  
  display: flex;
  padding: 0 15%;
}

.main-body div {
  flex-basis: 50%;
  /*border: 2px solid black;*/
}

.floating-div {
  width: 100%;
  margin-top  : 50px;
  height: 550px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 45px -30px rgba(0,0,0,1);
}

.signup {
  padding-top: 35px;
  text-align: right;
}

.signup button {
  margin-right: 40px;
  width: 115px;
  height: 35px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #005CCA;
  color: #005CCA;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 142%;
}

.signup button:hover {
  border: 1px solid #32394A;
  color: #32394A;
  cursor: pointer;
}

.floating-div h4 {
  margin-bottom: 0;
  margin-top: 30px;
}

.floating-div h4, p, input {
    margin-left: 40px;
}

.floating-div-p1 {
  margin-top: 50px;
  margin-bottom: 10px;
}

.floating-div-p2 {
  margin-top: 50px;
  margin-bottom: 10px;
}

#input {
  display: flex;
}

#address {
  width: 275px;
  height: 45px;
  background-color: #E8F0FB;
  border-radius: 30px;
  border: 1px solid #E8F0FB;
  padding-left: 15px;
  font-size: 15px;
}

#submitAddress {
  height: 49px;
  width: 130px;
  z-index: 2;
  position: relative;
  left: -50px;
  border-radius: 30px;
  border: 1px solid #005CCA;
  background-color: #005CCA;
  color: white;
  font-size: 15px;
}

#submitAddress:hover {
  border: 1px solid #32394A;
  background-color: #32394A;
  cursor: pointer;
}

.iconify {
  font-size: 30px;
  color: #005CCA;
  margin: 5px 15px 10px 40px;
}

#icon1 {
  font-size: 35px;
}

#icon2 {
  padding-left: 4px;
}

#GPS, #Maps {
  display: inline-block;
  vertical-align: text-bottom;
}


/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  flex-direction: row;
  background-color: #32394A;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

.logo {
  color: white;
  margin-left: 15%;
}

li, a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  background-color: #32394A;
}

.navigation {


}

.navigation li {
  display: inline-block;
  padding: 0px 20px;
  text-transform: uppercase;
}

/* FOOTER */

footer {
  background-color: #32394A;
  display: flex;
  justify-content: center;
  align_content: center;
  padding: 5%;
}

.footmain {
  line-height: 1.5rem;
  color: white;
  text-align: center;
}

.reserve {
  color: white;
  opacity: 20%;
  font-family: arial;
  line-height: 1.5rem;
}

#foot_logo {
  font-size: 2rem;
}
