@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
//font-family: 'IBM Plex Sans', sans-serif;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 138%;
  /* or 28px */
  letter-spacing: 0.0075em;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 125%;
  /* identical to box height, or 120px */
  letter-spacing: -0.015em;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 133%;
  /* identical to box height, or 80px */
  letter-spacing: -0.01em;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 133%;
  /* identical to box height, or 64px */
  letter-spacing: -0.005em;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 130%;
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 132%;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

/* BODY */

.main-body {
  height: 700px;
  display: flex;
  padding: 0 15% 0 0;
}

.main-body div {
  border: 2px solid black;
  flex-basis: 50%;
}

.left-body {
  background-image: url(images/background-1.png);
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
}

.left-body p {
  margin: 70px 0 0 35%;
  font-size: 30px;
}

.right-body {
  text-align: center;
}

.right-body p {
  font-size: 15px;
  margin-left: 5%;
}



/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  flex-direction: row;
  background-color: #32394A;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

.logo {
  color: white;
  margin-left: 15%;
}

li, a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  background-color: #32394A;
}

.navigation {


}

.navigation li {
  display: inline-block;
  padding: 0px 20px;
  text-transform: uppercase;
}

/* FOOTER */

footer {
  background-color: #32394A;
  display: flex;
  justify-content: center;
  align_content: center;
  padding: 5%;
}

.footmain {
  line-height: 1.5rem;
  color: white;
  text-align: center;
}

.reserve {
  color: white;
  opacity: 20%;
  font-family: arial;
  line-height: 1.5rem;
}

#foot_logo {
  font-size: 2rem;
}
