@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

body {
  padding: 0;
  margin: 0;
  color: black;
}

hr {
  opacity: 30%;
}

h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 50px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

/* BODY */

.main-body {
  height: 700px;


  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  /*background-color: #005CCA;*/

  display: flex;
  padding: 0 15%;
}

.main-body div {
  flex-basis: 50%;
  /*border: 2px solid black;*/
}

.floating-div {
  width: 400px;
  margin-top  : 50px;
  height: 520px;
  border-radius: 35px;
  background-color: white;
  padding: 30px 30px 50px 30px;
  box-shadow: 0px 0px 45px -30px rgba(0,0,0,1);
}

.signup {
  padding-top: 40px;
  text-align: right;
}

.signup button {
  margin-right: 0px;
  width: 115px;
  height: 35px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #005CCA;
  color: #005CCA;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 142%;
}

.signup button:hover {
  border: 1px solid #32394A;
  color: #32394A;
  cursor: pointer;
}

.floating-div h2 {
 
  font-size: 40px;
}

.floating-div h2, p, input {
   
    margin-top: 60px;
}

.floating-div-p1 {
  position: relative;
  z-index: 2;
  top:20px;
  font-weight: light;
  opacity: 70%;
}

.floating-div-p2 {
  background-color: white ;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#input {
  position: relative;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

#address {
  width: 95%;
  height: 50px;
  background-color: #E8F0FB;
  margin-bottom: 12px;
  border-radius: 30px;
  border: 1px solid #E8F0FB;
  padding-left: 20px;
  font-size: 15px;
}

#submitAddress {
  height: 55px;
  width: 100%;
  
  
  border-radius: 30px;
  border: 1px solid #005CCA;
  background-color: #005CCA;
  color: white;
  font-size: 15px;
}

#submitAddress:hover {
  border: 1px solid #32394A;
  background-color: #32394A;
  cursor: pointer;
}

.iconify {
  font-size: 30px;
  color: #005CCA;
  margin: 5px 15px 10px 0px;
}

#icon1 {
  font-size: 35px;
}

#icon2 {
  padding-bottom: 4px;
  margin-left: 20px;
}

#GPS, #Maps {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 0 15px 0;
}

#GPS:hover, #Maps:hover {
  color: #005CCA;
  cursor: pointer;
}


.main_body {
  display: flex;
  flex-direction: column;
  margin: 300px 20% 200px 20%;
  background: white;
  align-items: center;
}

.body_rows {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 500px;
}

.body_col1 {
  width: 45%;
  background-color: white;
}

.body_col2 {
  width: 45%;
  background-color: white;
}

.clip_art {
  max-height: 300px;
  align-items: right;
}




/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  flex-direction: row;
  background-color: #32394A;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

.logo {
  font-weight: 900;
  font-size: 2rem;
  color: white;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo a {
  font-weight: 900;
  font-size: 2rem;
  color: white;
}

li, a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  background-color: #32394A;
}


.navigation li {
  display: inline-block;
  padding: 0px 20px;
  text-transform: uppercase;
}

/* FOOTER */

footer {
  background-color: #32394A;
  padding: 5%;

}

.footmain {
  line-height: 1.5rem;
  color: white;
  text-align: center;
}

.reserve {
  color: white;
  opacity: 20%;
  font-family: arial;
  line-height: 2.2rem;
}

#foot_logo {
  font-size: 4rem;
  font-weight: 900;
  color: #0087DB;
  margin: 100px 15% 40px 15%;
  text-align: center;
}

::-webkit-scrollbar {
  height: 6px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f2F2F2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0087DB;
  border-radius: 10px;
}